:host{
    display: block;
    position: absolute;
    top:70px;
    bottom:0px;
    left:0px;
    right:0px;
}

.col-1 {
    position: absolute;
    width: 300px;
    left:0;
    top:0;
    bottom:0;
    padding:10px;
}

.col-2 {
    position: absolute;
    width: calc(100% - 310px);
    right: 5px;
    top: 5px;
    bottom: 5px;
}
