
<ul class="col-1 z-depth-1 ">

    <li>
        <div class="mn-logo">
            <img src="app/assets/images/monopoly.png" />
        </div>
    </li>

    <li>
        <a href="" routerLink="/new-game">
            <i class="material-icons">
                replay
            </i>
            New Game
        </a>
    </li>
    <li>
        <div class="divider"></div>
    </li>

    <li>
        <a class="subheader">Players</a>
    </li>

    <li>
        <mn-players [players]="players | async"
                    [currentPlayerIndex]="currentPlayerIndex"></mn-players>
    </li>



</ul>
<mn-board class="col-2"
          [cases]="cases | async"
          [players]="players | async"
          [currentPlayerIndex]="currentPlayerIndex">

</mn-board>