
<ul class="col-1 z-depth-1 ">

    <li>
        <div class="mn-logo">
            <img src="app/assets/images/monopoly.png" />
        </div>
    </li>

    <li>
        <a href="" routerLink="/new-game">
            <i class="material-icons">
                replay
            </i>
            New Game
        </a>
    </li>
    <li>
        <div class="divider"></div>
    </li>

    <li>
        <a class="subheader">Players</a>
    </li>

    <li>
        <mn-players [players]="players | async"
                    [currentPlayerIndex]="currentPlayerIndex"></mn-players>
    </li>

    <li *ngIf="showBtnPlayDices">
        <a (click)="playDices()" class="center-align">Play Dices</a>
    </li>

</ul>
<mn-board class="col-2"
          [cases]="cases | async"
          [players]="players | async"
          [currentPlayerIndex]="currentPlayerIndex">

</mn-board>

<div class="mn-dices-content valign-wrapper" *ngIf="showDices">
    <div class="valign center-align">
        <div class="row">
            <div class="col"><!--[disabled]="currentDice > 1"-->
                <mn-dice [stop]="stop" (onDiceClicked)="onDiceClicked(0, $event)" ></mn-dice>
            </div>
            <div class="col mn-add-dice">
                +
            </div>
            <div class="col" >
                <mn-dice [stop]="stop" (onDiceClicked)="onDiceClicked(1, $event)"></mn-dice>
            </div>
        </div>

    </div>
</div>