<div class="mn-board"
     #mnBoard
     (window:resize)="onResize($event)">

    <div class="mn-board-wrapper" #mnBoardWrapper>

        <div *ngFor="let row of [0,1,2,3]" class="mn-board-group-{{row+1}}">
            <div>
                <mn-case *ngFor="let case of cases | slice : (row * 10) : (10 + row * 10);"
                         [caseInfo]="case"
                         [players]="players | casePlayers : case.location"></mn-case>
            </div>
        </div>

    </div>

</div>

