
:host {

}
.mn-board {
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;

}
.mn-board .mn-board-wrapper{
    position: relative;
    width: calc(195px * 11);
    height: calc(195px * 11);
    transform-origin: left top;
    background: #A7E9DB;
}
.mn-board .mn-board-wrapper > .mn-board-groups  {
    width: calc(195px * 11);
    height: calc(195px * 11);
    position: absolute;
    top:0px;
    left:0px;
    transform-origin: center center;
}

.mn-board .mn-board-group-1 {
    transform: rotate(0deg);
}

.mn-board .mn-board-group-2 {
    transform: rotate(90deg);
}

.mn-board .mn-board-group-3 {
    transform: rotate(180deg);
}

.mn-board .mn-board-group-4 {
     transform: rotate(-90deg);
}/**/

.mn-board .mn-board-wrapper > div > div {
    width: calc(195px * 11);
    position: absolute;
    top:0;
    left:0;
}


.mn-board div .mn-case {
    float: left;
}


.mn-board .mn-current-case {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: scale(2) translate(-25%) rotate(-180deg);
}